p.p1 {
  margin: 0px 0px 6px 0px;
  font: 54px "Times New Roman";
  color: white !important;
}

p.p2 {
  margin: 0px 0px 0px 0px;
  font: 24px "Times New Roman";
  color: white !important;
}

p.p3 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 33px "Times New Roman";
  color: #1c1e21;
}

p.p4 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 27px "Times New Roman";
  color: white !important;
}

p.p6 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 24px "Times New Roman";
  color: #333333;
  min-height: 15px;
}

p.p7 {
  margin: 0px 0px 0px 0px;
  font: 27px "Times New Roman";
  color: white !important;
}

p.p8 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 24px "Times New Roman";
  color: white !important;
}

p.p10 {
  margin: 0px 0px 0px 0px;
  font: 23px "Times New Roman";
  color: #1c1e21;
}

p.p11 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 24px "Times New Roman";
  color: white !important;
  min-height: 15px;
}

p.p12 {
  margin: 0px 0px 24px 0px;
  text-align: justify;
  font: 24px "Times New Roman";
  color: white !important;
  min-height: 15px;
}

p.p13 {
  margin: 0px 0px 0px 0px;
  font: 24px "Times New Roman";
  color: white !important;
  min-height: 15px;
}

li.li5 {
  margin: 5px 0px 5px 0px;
  text-align: justify;
  font: 24px "Times New Roman";
  color: #333333;
}

li.li9 {
  margin: 5px 0px 5px 0px;
  font: 24px "Times New Roman";
  color: #333333;
}

span.s1 {
  color: #000000;
}

span.s2 {
  color: white !important;
}

span.s3 {
  text-decoration: underline;
  color: #000000;
}

ul.ul1 {
  list-style-type: disc;
}
