.ant-card {
  background: none;
}
.ant-card-bordered {
  border: none;
}
.ant-card-body {
  padding: 18px 0px;
  .ant-card-meta-title,
  .ant-card-meta-description {
    color: white;
  }
  .ant-card-meta-title {
    font-family: Avenir Next;
    font-weight: 500;
    font-size: 18px;
  }
  .ant-card-meta-description {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    p {
      margin-bottom: 8px;
      vertical-align: middle;
    }
  }
}

.swiper-slide {
  width: auto;
}

.popularExperience {
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 22px;
    color: #fff;
  }
}
