
.your-profile-left-side {
    font-family: Avenir Next;
    border-radius: 19px 0px 0px 19px;
    background-color: #2A2A29;
    padding: 33px 44px;
    .your-profile-signup-login-link {
        button{
            text-decoration: underline;
            color:#979797;
            background: none;
            border: none;
            padding: 0px;
        }
        button:focus {        
            outline: none;
        }
        color:#979797;
    }
    .ant-btn {
        border-radius: 50px;
        width: 100%;
        height: 55px;
        font-weight: 600;
        font-size: 17.5px;
        font-style: normal;
    }
    .btn-gmail{
        padding: 10px 50px;
        background: #F14336;
        border-radius: 50px;
        color: white;
    }
    .btn-facebook{
        padding: 10px 50px;
        background: #1778F2 ;
        border-radius: 30px;
        color: white;
    }
    .btn-apple{
        padding: 10px 50px;
        background:black ;
        border-radius: 30px;
        color: white;
    }

    .btn-group {
        margin-top: 170px;
    }

}
.your-profile-right-side {
    font-family: Avenir Next;
    border-radius: 0px 19px 19px 0px !important;
    
    background-size: cover;
    color: white;
    h3 {
        color: white;
        margin: 0px;
        font-size: 18px;
        font-weight: 500;
    }
    .ant-carousel .slick-dots-bottom {
        bottom: 41px;
        left: 100px;
    }
    .ant-carousel .slick-dots li button {
        width: 6px;
        height: 6px;
        border-radius: 50px;
    }
    .slick-dots li button:before {
        content: none;
    }
    .right-side-wrapper1 {     
        height: 616px;
        padding: 0px 23px 31px 23px;
        background: url(../../assets/img/experience/Picture1.png) no-repeat;
        background-size: cover;
        border-radius: 0px 19px 19px 0px !important;
    }
    .right-side-wrapper2 {
        height: 616px;
        padding: 0px 23px 31px 23px;
        background: url(../../assets/img/experience/Picture2.png) no-repeat;
        background-size: cover;
        border-radius: 0px 19px 19px 0px !important;
    }
    .right-side-wrapper3 {
        height: 616px;
        padding: 0px 23px 31px 23px;
        background: url(../../assets/img/experience/Picture3.png) no-repeat;
        background-size: cover;
        border-radius: 0px 19px 19px 0px !important;
    }
    .right-side-wrapper4 {
        height: 616px;
        padding: 0px 23px 31px 23px;
        background: url(../../assets/img/experience/Picture4.png) no-repeat;
        background-size: cover;
        border-radius: 0px 19px 19px 0px !important;
    }
}

@media screen and (max-width: 576px) {
    .your-profile-left-side {
        border-radius: 19px;
    }
}

@media screen and (max-width: 910px) {
    .your-profile-right-side  {
        .ant-carousel .slick-dots-bottom {
            bottom: 41px;
            left: 50px;
        }
    }
    
}

@media screen and (max-width: 690px) {
    .your-profile-right-side  {
        .right-side-wrapper1 {
            height: 658px;
        }
        .right-side-wrapper2 {
            height: 658px;
        }
        .right-side-wrapper3 {
            height: 658px;
        }
        .right-side-wrapper4 {
            height: 658px;
        }
    }
    
}