p.p1 {
  margin: 18px 0px 9px 0px;
  font: 54px "Times New Roman";
  color: #4d4d4d;
}

p.p2 {
  margin: 0px 0px 24px 0px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
}

p.p3 {
  margin: 5px 0px 5px 36px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
}

p.p4 {
  margin: 0px 0px 24px 18px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
}

p.p6 {
  margin: 0px 0px 24px 36px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
}

p.p7 {
  margin: 0px 0px 0px 36px;
  font: 24px "Times New Roman";
  color: #262626;
}

p.p8 {
  margin: 0px 0px 0px 0px;
  font: 24px "Times New Roman";
  color: #262626;
}

p.p9 {
  margin: 0px 0px 24px 36px;
  font: 27px "Times New Roman";
}

p.p10 {
  margin: 0px 0px 24px 36px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
  min-height: 16px;
}

p.p11 {
  margin: 18px 0px 18px 0px;
  font: 24px "Times New Roman";
  min-height: 15px;
}

p.p12 {
  margin: 0px 0px 24px 72px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
}

p.p13 {
  margin: 0px 0px 0px 0px;
  font: 24px "Times New Roman";
}

p.p14 {
  margin: 0px 0px 0px 0px;
  font: 24px "Times New Roman";
  min-height: 15px;
}

p.p15 {
  margin: 0px 0px 0px 0px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
  min-height: 16px;
}

li.li2 {
  margin: 0px 0px 24px 0px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
}

li.li5 {
  margin: 5px 0px 5px 0px;
  font: 27px "Times New Roman";
  color: #4d4d4d;
}

span.s1 {
  letter-spacing: 0.1px;
}

span.s2 {
  letter-spacing: 0.1px;
  color: #000000;
}

span.s3 {
  letter-spacing: 0.1px;
  color: #337ab7;
}

span.s4 {
  text-decoration: underline;
  letter-spacing: 0.1px;
}

span.s5 {
  color: #000000;
}

span.s6 {
  letter-spacing: 0.1px;
  color: #4d4d4d;
}

span.Apple-tab-span {
  white-space: pre;
}

ul.ul1 {
  list-style-type: disc;
}
