.font-color-red {
    color: #E41E35;
}

.txt-right-side {
    color: white;
}

.right-side-wrapper {
    height: 100%;
    padding: 20px 30px;
}

.btn-back {
    font-size: 24px;
    color: white;
}

.auth-flow-page-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 30px !important;
    color: white !important;
    // line-height: 30px;
}