@charset "utf-8";
@import "~antd/dist/antd.css";
@import "~swiper/swiper.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto");

.btn-border-white {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  &:hover {
    color: white;
  }
}

.errorText {
  margin-top: 5px;
  color: red;
}
