.ant-collapse-content-box,
.ant-collapse-content {
  background: none;
  border: none;
}

.ant-card-head {
  border: none;
}

p,
h1 {
  color: white;
  font-weight: 500;
}

.ant-collapse-header {
  color: white !important;
  font-weight: 700;
  font-size: 20px;
}
